adb_shell==0.4.4
altgraph==0.17.4
bcrypt==4.3.0
BetterADBSync==1.4.0
cffi==1.17.1
cryptography==45.0.2
ffmpeg-python==0.2.0
future==1.0.0
packaging==25.0
paramiko==3.5.1
pyasn1==0.6.1
pycparser==2.22
pydub==0.25.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
rsa==4.9.1
setuptools==80.3.1
six==1.17.0
